
@import "../node_modules/bootstrap/scss/bootstrap";

body {
    background-color: #F8F8FC;
    padding-left: 1rem;
    padding-right: 1rem;
    height: 100vh;
}

.main-app {
    height: 100vh;
    width: 100%;
    user-select: none;
}

#main-button-row {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}

#product-id-div {
    padding-left: 0px;
    padding-right: 0px;
}

#fws-container {
    flex: 1;
    display: flex;
    flex-direction: column;
}

#fws-title-bar {
    border-bottom: 1px solid black;
    padding-bottom: 0.5rem;
}

#fws-title {
    font-weight: bold;
}

#fw-config {
    min-width: 20rem;
    max-width: 30rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    background: white;
    border: grey;
    border-width: 1px;
    border-style: solid;
    border-top-style: none;
    margin-left: -1px;
    padding: 0.5rem;
}

#fws-row {
    flex: 1;
}

@import "icofont.css"
